.order-list {
  margin-top: 20px;
}

.order-list-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.order-list-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.order-list-book-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order-list-book-thumbnail {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.order-list-book-title {
  margin: 0;
}

.order-list-book-author {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.order-status {
  margin: 0;
}
